include *.txt
include *.py
include setup.cfg
include test_easyimport.py
include MANIFEST.in
recursive-include docs *
recursive-include test *
recursive-include easyimport.egg-info *
recursive-exclude * *.pyc *~ .DS_Store *.pyo
